In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("clean_df.csv", index_col=[0])

In [7]:
df.head(2)

,Year,Month,Day,Extended,Country,Region,City,Success,Suicide,Attack_Type,...,No_Of_Wounded,Property,country,region,attacktype1,targtype1,target1,natlty1,gname,weaptype1
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,1,0,Assassination,...,0.0,0,58,2,1,14,Julio Guzman,58.0,MANO-D,13
1,1970,0,0,0,Mexico,North America,Mexico city,1,0,Hostage Taking (Kidnapping),...,0.0,0,130,1,6,7,"Nadine Chaval, daughter",21.0,23rd of September Communist League,13

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181691 entries, 0 to 181690
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                181691 non-null  int64
 1   Month               181691 non-null  int64
 2   Day                 181691 non-null  int64
 3   Extended            181691 non-null  int64
 4   Country             181691 non-null  object
 5   Region              181691 non-null  object
 6   City                181691 non-null  object
 7   Success             181691 non-null  int64
 8   Suicide             181691 non-null  int64
 9   Attack_Type         181691 non-null  object
 10  Target_Type         181691 non-null  object
 11  Target_Subtype      181691 non-null  object
 12  Target              181691 non-null  object
 13  Target_Nationality  181691 non-null  object
 14  Attack_Group        181691 non-null  object
 15  Weapon              181691 non-null  object
 16  No_Of_Killed        181691 non-null  float64
 17  No_Of_Wounded       181691 non-null  float64
 18  Property            181691 non-null  int64
 19  country             181691 non-null  int64
 20  region              181691 non-null  int64
 21  attacktype1         181691 non-null  int64
 22  targtype1           181691 non-null  int64
 23  target1             181691 non-null  object
 24  natlty1             181691 non-null  float64
 25  gname               181691 non-null  object
 26  weaptype1           181691 non-null  int64
dtypes: float64(3), int64(12), object(12)
memory usage: 38.8+ MB

In [9]:
len(df.columns)

27

In [10]:
for col in df.columns:
    print(col, end="\t")

Year	Month	Day	Extended	Country	Region	City	Success	Suicide	Attack_Type	Target_Type	Target_Subtype	Target	Target_Nationality	Attack_Group	Weapon	No_Of_Killed	No_Of_Wounded	Property	country	region	attacktype1	targtype1	target1	natlty1	gname	weaptype1

In [11]:
# Checking for columns with wrong day or time to help in the formation of a date column
df[(df.Day == 0) | (df.Month == 0)]

,Year,Month,Day,Extended,Country,Region,City,Success,Suicide,Attack_Type,...,No_Of_Wounded,Property,country,region,attacktype1,targtype1,target1,natlty1,gname,weaptype1
1,1970,0,0,0,Mexico,North America,Mexico city,1,0,Hostage Taking (Kidnapping),...,0.0,0,130,1,6,7,"Nadine Chaval, daughter",21.0,23rd of September Communist League,13
2,1970,1,0,0,Philippines,Southeast Asia,Unknown,1,0,Assassination,...,0.0,0,160,5,1,10,Employee,217.0,Unknown,13
3,1970,1,0,0,Greece,Western Europe,Athens,1,0,Bombing/Explosion,...,0.0,1,78,8,3,7,U.S. Embassy,217.0,Unknown,6
4,1970,1,0,0,Japan,East Asia,Fukouka,1,0,Facility/Infrastructure Attack,...,0.0,1,101,4,7,7,U.S. Consulate,217.0,Unknown,8
96,1970,3,0,0,Philippines,Southeast Asia,Manila,1,0,Bombing/Explosion,...,0.0,1,160,5,3,7,U.S. Embassy,217.0,Unknown,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104603,2011,12,0,0,West Bank and Gaza Strip,Middle East & North Africa,Nablus,1,0,Unarmed Assault,...,0.0,1,155,10,8,14,Christian Choir Group,155.0,Jewish Extremists,12
104611,2011,12,0,0,Pakistan,South Asia,Mandeo,1,0,Bombing/Explosion,...,0.0,1,153,6,3,14,Private home,153.0,Unknown,6
104612,2011,12,0,0,Pakistan,South Asia,Mandeo,1,0,Bombing/Explosion,...,0.0,1,153,6,3,8,Local School,153.0,Unknown,6
104613,2011,12,0,0,Pakistan,South Asia,Mandeo,1,0,Bombing/Explosion,...,0.0,1,153,6,3,9,Local water tank,153.0,Unknown,6
104684,2011,12,0,0,Pakistan,South Asia,Umar kaley,1,0,Bombing/Explosion,...,3.0,0,153,6,3,14,1 Adult and 3 Children,153.0,Unknown,6

In [12]:
# Function for the creation of the date column, and correction of wrong day or month
def make_date(df):
    new_date = ""
    year = df['Year']
    month = df['Month']
    day = df['Day']
    
    if month < 1:
        month = 1
        
    if day < 1:
        day = 1
    
    new_date = f"{year}-{month}-{day}"
    
    return new_date

In [13]:
df = df.assign(
    Date=df.apply(make_date, axis=1)
)
df.Date = pd.to_datetime(df.Date)

In [14]:
df.info() # to check the data type of the Date column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181691 entries, 0 to 181690
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                181691 non-null  int64
 1   Month               181691 non-null  int64
 2   Day                 181691 non-null  int64
 3   Extended            181691 non-null  int64
 4   Country             181691 non-null  object
 5   Region              181691 non-null  object
 6   City                181691 non-null  object
 7   Success             181691 non-null  int64
 8   Suicide             181691 non-null  int64
 9   Attack_Type         181691 non-null  object
 10  Target_Type         181691 non-null  object
 11  Target_Subtype      181691 non-null  object
 12  Target              181691 non-null  object
 13  Target_Nationality  181691 non-null  object
 14  Attack_Group        181691 non-null  object
 15  Weapon              181691 non-null  object
 16  No_Of_Killed        181691 non-null  float64
 17  No_Of_Wounded       181691 non-null  float64
 18  Property            181691 non-null  int64
 19  country             181691 non-null  int64
 20  region              181691 non-null  int64
 21  attacktype1         181691 non-null  int64
 22  targtype1           181691 non-null  int64
 23  target1             181691 non-null  object
 24  natlty1             181691 non-null  float64
 25  gname               181691 non-null  object
 26  weaptype1           181691 non-null  int64
 27  Date                181691 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(12), object(12)
memory usage: 40.2+ MB

In [15]:
df.drop(['Day', 'Month'], axis=1, inplace=True)

NB: `Date` column can be used as index and used for timeseries analysis and other time and date related analysis.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181691 entries, 0 to 181690
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                181691 non-null  int64
 1   Extended            181691 non-null  int64
 2   Country             181691 non-null  object
 3   Region              181691 non-null  object
 4   City                181691 non-null  object
 5   Success             181691 non-null  int64
 6   Suicide             181691 non-null  int64
 7   Attack_Type         181691 non-null  object
 8   Target_Type         181691 non-null  object
 9   Target_Subtype      181691 non-null  object
 10  Target              181691 non-null  object
 11  Target_Nationality  181691 non-null  object
 12  Attack_Group        181691 non-null  object
 13  Weapon              181691 non-null  object
 14  No_Of_Killed        181691 non-null  float64
 15  No_Of_Wounded       181691 non-null  float64
 16  Property            181691 non-null  int64
 17  country             181691 non-null  int64
 18  region              181691 non-null  int64
 19  attacktype1         181691 non-null  int64
 20  targtype1           181691 non-null  int64
 21  target1             181691 non-null  object
 22  natlty1             181691 non-null  float64
 23  gname               181691 non-null  object
 24  weaptype1           181691 non-null  int64
 25  Date                181691 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(10), object(12)
memory usage: 37.4+ MB

NB: I don't know if using PCA is still a good idea considering the amount of data that has been dropped already so I didn't do that.

Also we talked about doing something about all the problem statements, that also will leave the other stages of preprocessing to the model building team, since they will be the ones that decides the best approach to the model being built.

Some of the columns being dropped may have to be brought back

In [17]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.decomposition import PCA

In [20]:
for col in df.columns:
    print(col, end=", ")

Year, Extended, Country, Region, City, Success, Suicide, Attack_Type, Target_Type, Target_Subtype, Target, Target_Nationality, Attack_Group, Weapon, No_Of_Killed, No_Of_Wounded, Property, country, region, attacktype1, targtype1, target1, natlty1, gname, weaptype1, Date,

In [24]:
numerical_features = ["Extended", "Success", "Suicide", "No_Of_Killed", "No_Of_Wounded", "Property"]

categorical_features = ["Country", "Region", "City", "Attack_Type", "Target_Type", "Target_Subtype", "Target", "Target_Nationality", "Attack_Group", "Weapon", "country", "region", "attacktype1", "targtype1", "target1", "natlty1", "gname", "weaptype1"]

NB: Some of the numerical columns are suppoed to be True and False represented with 1, 0, -9 (could represent uncertainty *not sure*).

    
    This should be taken into account when doing scaling. Maybe we might need to seperate them from the normal numerical fetures and change -9 to 0 (My suggestion)